* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}


#datetime-picker {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.btn {
  padding: 5px 10px;
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.timer {
  display: flex;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.value {
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.label {
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
}
